
        body{
            background-color: silver;
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            color: black;
        }
        nav{
            background-color: dimgrey;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px;
            position: sticky;
            top: 0;
            z-index: 100;
        }
        nav ul{
            display: flex;
            list-style-type: none;
        }
        nav ul li{
            margin: 0 5px ;
        }
        nav ul li a{
            text-decoration: none;
            font-size: 20px;
            font-weight: bold;
            color: antiquewhite;
            padding: 10px 20px;
            border-radius: 50px;
        }
        nav ul li a:hover{
            background-color:sandybrown;
            color: black;
        }
        ul{
            color: black;
            font-size: 30px;
            font-weight: bold;
        }

        .one{
            background-color: lavender;
            height: 200px;
            color: gray;
        }
        .two{
            background-color: bisque;
            height: 200px;
        }
        .three{
            background-color: lavender;
            height: 200px;
        }
        #four{
            background-color: bisque;
            height: 200px;
        }
        #five{
            background-color: lavender;
            height: 200px;
        }
        .background-image{
            background-image:url("https://cdn.pixabay.com/photo/2024/03/02/06/58/ai-generated-8607702_960_720.jpg") ;
            background-size: cover;
            background-position: center;
            height: 800px;
            border-radius: 20px;
            margin: 20px;
        }
        .image-one img{
            height: 50vh;
            width: 350px;
            margin: 20px;
        }
        main{
            display: flex;
        }



